@CHARSET "UTF-8";
 html,
body {
	margin:0;
	padding:0;
	height:100%;
	color: #0B243B;
    background-color:#cccccc;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
}        
.menu {
    color:#0A2229;
    background-color:#5A7285;
text-align: center;
font-weight: 700;
    }
 .submenu{
     background-color:#4F6B7B; 
     padding:0px;
    }
    
 ul{
margin:0px;
padding:0px;
}
ul li{display:inline-block; }
ul li a{
    display:block;
    text-decoration: none;
    color:#0B243B;
    padding:10px 10px;
    }
 ul li a:hover{color:#cccccc;}
 .lang{padding:15px 10px;}
 
  .lang ul{display:none;position:absolute;}
  .lang:hover{color:#4F6B7B;}
   .lang:hover ul{display:block;margin-left:-10px;margin-top:-40px;}
   .lang:hover ul li{display:block;}
   .lang:hover ul li a{padding:0px 10px;}
  .logout{  background-color:#4F6B7B;
  border:none;
  font-weight: bold; 
  margin:10px;
  
  }
  .logout:hover{color:#cccccc; font-weight: bold;}
 #content {	
}
.content {margin: 20px;
     background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 3px #0B243B;
    padding:10px;
         }
 
 #footer {
	background:#4F6B7B;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0px;
	left:0px;
}
#footer ul li{padding:20px;}
.bottomdiv{height:100px;}
